body {
    background-color: red;
  }
  div {
    background-color: silver;
  }
  p {
    color: black;
    font-size: 50px;
  }
  li {
    color: black;
    font-size: 50px;
  }
  img {
    height: 300px;
    border-radius: 100cm;
  }
  #black-color {
    color: black;
  }
  
  .bg-red {
    background-color: red;
  }
  a {
    color: black;
  }
